@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --colorPrimary: #006bb7;
    --colorPrimaryVariant: #009ce9;
    --colorOnPrimary: #ffffff;
    --colorOnPrimaryVariant: #fefefe;
    --colorTextPrimary: #000;
    --colorPrimaryAccent: #000;

    --colorSecondary: #000;
    --colorSecondaryVariant: #a943e9;
    --colorOnSecondary: #ffffff;
    --colorOnSecondaryVariant: #fefefe;
    --colorTextSecondary: #000;
    --colorSecondaryAccent: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

input {
    background: transparent;
    border: none;
    outline: none;
}

.languageEnglish {
    font-family: 'Poppins', sans-serif;
}

.languageBengali {
    font-family: 'Noto Serif Bengali', sans-serif;
}

.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.btn {
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 4px 12px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--colorSecondaryVariant);
    color: var(--colorOnSecondaryVariant);
    box-shadow: 0 0 3px 0 black;
}

.header {
    position: sticky;
    height: 7.5vh;
    box-shadow: 0 0 5px 0 black;
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorPrimary);
    color: var(--colorOnPrimary);
}

.header .left,
.header .right {
    height: 100%;
    display: flex;
    align-items: center;
}

.header .left > * {
    margin-right: 8px;
}

.header .right > * {
    margin-left: 8px;
}

.menuItem {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0vh 1.5vw;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    background-color: var(--colorPrimaryVariant);
    color: var(--colorOnPrimaryVariant);
    border: 2px solid var(--colorPrimaryVariant);
    transition: all ease-in-out 0.3s;
}

.menuItem:hover {
    background-color: var(--colorSecondaryVariant);
    color: var(--colorOnSecondaryVariant);
    border: 2px solid var(--colorOnPrimaryVariant);
}

.menuItem.hasChild:hover > .subMenuContainer {
    width: max-content;
    height: auto;
    border: 2px solid var(--colorOnPrimaryVariant);
    opacity: 1;
}

.menuItem.hasChild:hover {
    border-radius: 8px 8px 0 0;
}

.menuItem p {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 8px;
}

.menuItem svg {
    height: 24px;
    width: 24px;
}

.subMenuContainer {
    position: absolute;
    top: 100%;
    right: -2px;
    width: 100%;
    height: 0;
    background-color: white;
    border-radius: 8px 0 8px 8px;
    overflow: hidden;
    border: none;
    display: flex;
    opacity: 0;
    flex-direction: column;
    transition: all ease-in-out 0.3s;
}

.subMenuContainer .menuItem {
    border: none;
    border-radius: 0;
    padding: 1.5vh 1.5vw;
    border-radius: 0;
    background-color: var(--colorSecondaryVariant);
    color: var(--colorOnSecondaryVariant);
}

.subMenuContainer .menuItem:not(:last-child) {
    border-bottom: 1px solid var(--colorOnSecondaryVariant);
}

.subMenuContainer .menuItem:hover {
    background-color: var(--colorPrimaryVariant);
    color: var(--colorOnPrimaryVariant);
    border: none;
    border-radius: 0;
}

.subMenuContainer .menuItem:not(:last-child):hover {
    border-bottom: 1px solid var(--colorOnSecondaryVariant);
}

.main {
    display: flex;
    padding: 1vh 1vw;
    height: 92.5vh;
}

.main .left,
.main .right {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main .left {
    width: 75%;
}

.main .right {
    width: 25%;
}

.boxedContainer {
    border-radius: 8px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    margin: 1vh 1vw;
    flex: 1 1 0;
    min-height: 48px;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
}

.boxedContainer.staticSize {
    flex: 0 0 auto;
    transition: all ease-in-out 0.3s;
}

.boxedContainer.collapsed {
    flex: 0 0 0;
}

.boxedContainerTop, .boxedContainerBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    font-size: 1.175rem;
    line-height: 2rem;
    font-weight: bold;
    box-shadow: 0 0 3px 0 black;
    background-color: var(--colorPrimaryVariant);
    color: var(--colorOnPrimaryVariant);
}

.boxedContainerTop > *:not(:last-child), .boxedContainerBottom > *:not(:last-child) {
    margin-right: 12px;
}

.boxedContainerTop {
    margin-bottom: 3px;
}
.boxedContainerBottom {
    margin-top: 3px;
}

.boxedContainerTop .icons {
    display: flex;
    align-items: center;
}

.boxedContainerTop svg {
    cursor: pointer;
    margin-left: 12px;
}

.paragraphContainer {
    height: 100%;
    width: 100%;
    padding: 8px;
}

.paragraph {
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    height: 100%;
    font-size: 1rem;
    text-align: justify;
    white-space: nowrap;
    line-height: 1.5rem;
}

#paragraphFile {
    display: none;
}

.wordsBottom input {
    font-size: 1rem;
    outline: none;
    border: 2px solid;
    padding: 5px 15px;
    border-radius: 50px;
    margin-right: 8px;
    flex: 1 1 auto;
}

.wordsBottom button {
    font-size: 1rem;
    outline: none;
    border: 2px solid;
    padding: 5px 30px;
    border-radius: 50px;
    cursor: pointer;
}

.annotationsContainer {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.annotationText {
    white-space: nowrap;
    font-size: 1rem;
    line-height: 1.5rem;
}

.annotationText span {
    mix-blend-mode: multiply;
}

.assignTagMain {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.assignTagMain>*:not(:last-child) {
    margin-bottom: 0.5rem;
}

.selectedText {
    font-size: 1rem;
    line-height: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.selectedText span {
    font-weight: bold;
}

.tagSelectionArea {
    display: flex;
    overflow: auto;
}

.suggestedTag {
    cursor: pointer;
    white-space: nowrap;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 50px;
}

.suggestedTag:not(:last-child) {
    margin-right: 8px;
}

.allTagsContainer, .assignedTagContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
    flex: 1 1 0;
}

#tagInput {
    color: var(--colorOnPrimaryVariant);
    outline: none;
    border: none;
    border-bottom: 2px solid var(--colorOnPrimaryVariant);
    font-size: 1rem;
    flex: 1 1 0;
    padding: 4px 8px;
}

.tag, .tagWord {
    display: flex;
    align-items: center;
    padding: 0.5vh 1vw;
    border-bottom: 1px solid;
}

.tagName {
    flex: 1 1 auto;
    padding: 0 8px;
}

.tagWordDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tagWordDetails p, .twTag span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tagWordDetails p {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.twTagsContainer {
    display: flex;
}

.twTag {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    padding: 2px 8px;
}

.twTag:not(:last-child) {
    margin-right: 4px;
}

.twTag span {
    font-size: 0.75rem;
    margin-right: 4px;
}

.tagWordDetails .tag {
    font-size: 0.75rem;
    font-weight: 300;
}

.twTag svg {
    cursor: pointer;
}