@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --colorPrimary: #006bb7;
    --colorPrimaryVariant: #009ce9;
    --colorOnPrimary: #ffffff;
    --colorOnPrimaryVariant: #fefefe;
    --colorPrimaryBackground: #FFFFFF;
    --colorOnPrimaryBackground: #000000;
    --colorPrimaryBackgroundVariant: #e6e6e6;
    --colorOnPrimaryBackgroundVariant: #191919;

    --colorSecondary: #000;
    --colorSecondaryVariant: #a943e9;
    --colorOnSecondary: #ffffff;
    --colorOnSecondaryVariant: #fefefe;
    --colorSecondaryBackground: #FFFFFF;
    --colorOnSecondaryBackground: #000000;
    --colorSecondaryBackgroundVariant: #FFFFFF;
    --colorOnSecondaryBackgroundVariant: #191919;

    --fontSizeXL: 3rem;
    --lineHeightXL: 3.5rem;
    --fontSizeL: 2.25rem;
    --lineHeightL: 2.75rem;
    --fontSizeM: 1.25rem;
    --lineHeightM: 1.5rem;
    --fontSizeS: 1rem;
    --lineHeightS: 1.5rem;
    --fontSizeES: 0.75rem;
    --lineHeightES: 1.25rem;

    --marginEL: 2rem;
    --marginL: 1rem;
    --marginM: 0.75rem;
    --marginS: 0.5rem;
    --marginES: 0.25rem;
    --marginEES: 0.15rem;

    --paddingEL: 2rem;
    --paddingL: 1rem;
    --paddingM: 0.75rem;
    --paddingS: 0.5rem;
    --paddingES: 0.25rem;
    --paddingEES: 0.15rem;

    --radiusRound: 50rem;
    --radiusEEL: 4rem;
    --radiusEL: 2rem;
    --radiusL: 1rem;
    --radiusM: 0.75rem;
    --radiusS: 0.5rem;
    --radiusES: 0.25rem;
    --radiusEES: 0.125rem;

    --borderL: 3px;
    --borderM: 2px;
    --borderS: 1px;

    --shadowEL: 1rem;
    --shadowL: 0.75rem;
    --shadowM: 0.5rem;
    --shadowS: 0.25rem;
    --shadowES: 0.125rem;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
    /*width: 10px;*/
    /*height: 10px;*/
}

/*::-webkit-scrollbar-track {*/
/*    box-shadow: inset 0 0 5px grey;*/
/*    border-radius: var(--radiusRound);*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background: var(--colorPrimaryVariant);*/
/*    border-radius: var(--radiusRound);*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
/*    background: var(--colorSecondaryVariant);*/
/*}*/

::placeholder {
    color: currentColor;
    opacity: 0.75;
}

::-ms-input-placeholder {
    color: currentColor;
    opacity: 0.75;
}

body {
    min-width: 1024px;
}

input {
    background: transparent;
    border: none;
    outline: none;
}

svg {
    display: block;
}

.languageEnglish {
    font-family: 'Poppins', sans-serif;
}

.languageBengali {
    font-family: 'Noto Serif Bengali', sans-serif;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.refreshing {
    animation: rotate infinite 1s linear;
}

.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 1024px;
}

.main {
    flex-grow: 1;
    height: 0;
    display: flex;
    align-items: stretch;
}

.content {
    width: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

button {
    background-color: var(--colorPrimaryVariant);
    color: var(--colorOnPrimaryVariant);
    border-radius: var(--radiusRound);
    box-shadow: 0 0 var(--shadowES) 0 black;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    font-size: var(--fontSizeS);
    line-height: var(--lineHeightS);
    padding: var(--paddingS);
    border: none;
    outline: none;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--marginM);
    font-weight: bold;
}

button:hover {
    background-color: var(--colorPrimary);
    color: var(--colorOnPrimary);
}

button svg {
    height: var(--lineHeightS);
    width: var(--lineHeightS);
}

.tabsContainer {
    background-color: var(--colorPrimary);
    box-shadow: 0 0 var(--shadowM) 0 black;
    padding: var(--paddingS);
}

.tabs {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: var(--radiusRound);
    background-color: var(--colorPrimaryVariant);
    padding: var(--paddingES);
    column-gap: var(--marginM);
}

.tab {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: var(--radiusRound);
    flex-grow: 1;
    font-size: var(--fontSizeM);
    line-height: var(--lineHeightM);
    padding: var(--paddingEES);
    color: var(--colorOnPrimaryVariant);
}

.tab.active, .tab:hover {
    box-shadow: 0 0 var(--shadowS) 0 black;
    background-color: var(--colorOnSecondaryVariant);
    color: var(--colorPrimaryVariant);
}

.tabContent {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.boxedContainer {
    border-radius: var(--radiusES);
    display: flex;
    flex-direction: column;
    margin: var(--marginS);
    padding: var(--paddingS);
    flex: 1 1;
    min-height: calc(var(--lineHeightM) + calc(var(--paddingS) * 2) + calc(var(--paddingES) * 2));
    min-width: 350px;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    background-color: var(--colorPrimaryBackgroundVariant);
    box-shadow: 0 0 var(--shadowS) 0;
}

.boxedContainer.staticSize {
    flex: 0 0 auto;
}

.boxedContainer.collapsed .boxedContainerTop {
    border-bottom: none;
}

.boxedContainerTopExtra {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin-bottom: var(--shadowS);
}

.boxedContainerTopExtra > .boxedContainerTop {
    margin: 0;
    box-shadow: none;
}

.boxedContainerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--marginM);
    padding: var(--paddingES) var(--paddingM);
    font-size: var(--fontSizeM);
    line-height: var(--lineHeightM);
    font-weight: bold;
    color: var(--colorOnPrimaryBackgroundVariant);
    margin-bottom: var(--shadowS);
    border-bottom: var(--borderM) solid black;
    transition: all ease-in-out 0.3s;
}

.boxedContainerTop svg {
    height: var(--lineHeightM);
    width: var(--lineHeightM);
    cursor: pointer;
}

.boxedContainerTop > *:first-child {
    flex: 1 1;
}

.boxedContainerTop svg {
    cursor: pointer;
}

.boxedContainerTop .heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.searchBox {
    font-size: var(--fontSizeS);
    line-height: inherit;
    color: currentcolor;
    min-width: 0;
}

/*!* Project *!*/


/*#selectFileType {*/
/*    font-size: var(--fontSizeS);*/
/*    line-height: var(--lineHeightS);*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.fileType {*/
/*    display: flex;*/
/*}*/

/*.fileType > * {*/
/*    cursor: pointer;*/
/*}*/

/*.fileType label {*/
/*    padding: var(--paddingS) var(--paddingM);*/
/*}*/

/*#downloadFileBtn {*/
/*    background-color: var(--colorPrimaryVariant);*/
/*    color: var(--colorOnPrimaryVariant);*/
/*    border-radius: var(--radiusRound);*/
/*    box-shadow: 0 0 var(--shadowES) 0 black;*/
/*    transition: all ease-in-out 0.3s;*/
/*    cursor: pointer;*/
/*}*/

/*#downloadFileBtn:hover {*/
/*    background-color: var(--colorPrimary);*/
/*    color: var(--colorOnPrimary);*/
/*}*/

/*.tabsContainer {*/
/*    background-color: var(--colorPrimary);*/
/*    box-shadow: 0 0 var(--shadowM) 0 black;*/
/*    z-index: 1;*/
/*}*/

/*#mainTabsContainer {*/
/*    padding: var(--paddingS) var(--paddingM);*/
/*}*/

/*#mainTabs {*/
/*    padding: var(--paddingES);*/
/*    column-gap: var(--marginS);*/
/*    background-color: var(--colorPrimaryVariant);*/
/*}*/

/*.tabs {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    overflow: hidden;*/
/*    border-radius: var(--radiusRound);*/
/*}*/

/*.tab {*/
/*    flex: 1 1;*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*    transition: all ease-in-out 0.3s;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*    z-index: 0;*/
/*    border-radius: var(--radiusRound);*/
/*}*/

/*.tab.active, .tab:hover {*/
/*    box-shadow: 0 0 var(--shadowS) 0 black;*/
/*}*/

/*#mainTabs .tab.active, #mainTabs .tab:hover {*/
/*    box-shadow: 0 0 var(--shadowS) 0 var(--colorOnPrimaryVariant);*/
/*    background-color: var(--colorOnPrimaryVariant);*/
/*    color: var(--colorPrimaryVariant);*/
/*}*/

/*#mainTabs .tab {*/
/*    color: var(--colorOnPrimaryVariant);*/
/*    font-size: var(--fontSizeM);*/
/*    line-height: var(--lineHeightM);*/
/*    padding: var(--paddingES) var(--paddingM);*/
/*}*/

/*.tabContent {*/
/*    flex: 1 1;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    overflow: hidden;*/
/*}*/

/*.main {*/
/*    display: flex;*/
/*    height: 0;*/
/*    flex: 1 1;*/
/*}*/

/*.main > .left,*/
/*.main > .right {*/
/*    display: flex;*/
/*    align-items: stretch;*/
/*    overflow: hidden;*/
/*    transition: all ease-in-out 0.3s;*/
/*    background-color: var(--colorPrimaryBackground);*/
/*}*/

/*.main > .left {*/
/*    flex-direction: column;*/
/*    flex: 3 3;*/
/*}*/

/*.main > .right {*/
/*    flex-direction: row;*/
/*    box-shadow: 0 0 5px 0 black;*/
/*    z-index: 0;*/
/*}*/



/*#sidebarExpandBtn {*/
/*    border: none;*/
/*    border-radius: 0;*/
/*    height: calc(calc(var(--paddingS) * 2) + calc(var(--paddingES) * 4) + var(--lineHeightM));*/
/*    box-shadow: 0 0 var(--shadowM) 0 black;*/
/*}*/



/*.headingContainer {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/


/*.subHeading {*/
/*    font-size: var(--fontSizeES);*/
/*    font-weight: normal;*/
/*}*/












/*.paragraphAreaBottom {*/
/*    margin: var(--marginL);*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: flex-end;*/
/*}*/

/*.languageSelectionArea {*/
/*    position: relative;*/
/*    font-size: var(--fontSizeS);*/
/*    line-height: var(--lineHeightM);*/
/*    min-width: 150px;*/
/*    width: max-content;*/
/*    margin-right: var(--marginEL);*/
/*}*/

/*.allLanguages {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 100%;*/
/*    border: var(--borderS) solid black;*/
/*    border-radius: var(--radiusM);*/
/*    display: none;*/
/*    flex-direction: column;*/
/*    background-color: white;*/
/*}*/

/*.selectedLanguage {*/
/*    border: var(--borderS) solid black;*/
/*    border-radius: var(--radiusM);*/
/*}*/

/*.selectedLanguage p,*/
/*.allLanguages p {*/
/*    padding: 0 var(--paddingL);*/
/*    cursor: pointer;*/
/*}*/

/*.languageSelectionArea:hover .allLanguages {*/
/*    display: flex;*/
/*    border-radius: var(--radiusM) var(--radiusM) 0 0;*/
/*    border-bottom-color: white;*/
/*}*/

/*.languageSelectionArea:hover .selectedLanguage  {*/
/*    border-radius: 0 0 var(--radiusM) var(--radiusM) ;*/
/*}*/

